.main {
  flex: 1;
  color: #FFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.gridIcon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridTitle {
  font-size: 23px;
  font-weight: bold;
  margin-top: 5px;
}

.gridInfo {
  border-radius: 5px;
  padding: 3px;
  border: 1px solid #000;
  font-size: 11px;
  margin-top: 20px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.4);
}